<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Регистрация пользователя</h1>
    <form action="">
        <br>
        <label for="">Ссылка на ваше фото (из соцсети)</label>
        <br>
        <input type="url" name="ref">
        <br>
        <label for="">Имя</label>
        <br>
        <input type="text" name="firstname">
        <br>
        <label for="">Фамилия</label>
        <br>
        <input type="text" name="lastname">
        <br>
        <label for="">Дата рождения</label>
        <br>
        <input type="date" name="date">
        <br>
        <label for="">Ваши навыки:</label>
        <br>
        <input type="text" name="skill_1">
        <br>
        <input type="text" name="skill_2">
        <br>
        <input type="text" name="skill_3">
        <br>
        <input type="text" name="skill_4">
        <br>
        <input type="text" name="skill_5">
        <br>
        <label for="">Расскажите о себе:</label>
        <br>
        <textarea name="Text1" cols="40" rows="5"></textarea>
        <br>
        <button type = "submit">Отправить</button>

    </form>
</body>
</html>