{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Регистрация пользователя</h1>
    <form action="{% url 'profile' %}">
        <br>
        <label for="">Ссылка на ваше фото (из соцсети)</label>
        <br>
        <input type="url" name="foto" value="https://abrakadabra.fun/uploads/posts/2022-03/1647178918_11-abrakadabra-fun-p-dzhango-osvobozhdennii-art-25.jpg">
        <br>
        <label for="">Имя</label>
        <br>
        <input type="text" name="firstname" value="Николай">
        <br>
        <label for="">Фамилия</label>
        <br>
        <input type="text" name="lastname" value="Меньшиков">
        <br>
        <label for="">Дата рождения</label>
        <br>
        <input type="date" name="birth" value="1980-10-27">
        <br>
        <label for="">Ваши навыки:</label>
        <br>
        <input type="text" name="skill_1" value="Python">
        <br>
        <input type="text" name="skill_2" value="SQL">
        <br>
        <input type="text" name="skill_3" value="JS">
        <br>
        <input type="text" name="skill_4" value="CSS">
        <br>
        <input type="text" name="skill_5" value="Java">
        <br>
        <label for="">Расскажите о себе:</label>
        <br>
        <textarea name="about" cols="100" rows="10">
        Действие фильма начинается в 1858 году, за два года до начала Гражданской войны.
        Двое братьев-работорговцев гонят купленных ими на аукционе в Техасе пятерых чернокожих
        рабов-мужчин на Дальний Юг. Среди рабов находится Джанго, который в наказание за побег
        был высечен кнутом и продан предыдущим хозяином на аукционе отдельно от его любимой жены
        Брумхильды. Ночью в лесу группа встречается с доктором Кингом Шульцем, иммигрантом из
        Германии и охотником за головами, использующим свою бывшую профессию дантиста[11][12]
        как прикрытие. Шульц хочет выкупить Джанго и, получив отказ, убивает одного из братьев
        Спек, а второго со сломанной ногой оставляет на растерзание освобождённым рабам.
        </textarea>
        <br>
        <button type = "submit">Отправить</button>

    </form>
</body>
</html>