<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Таблица умножения</title>

        <link rel="stylesheet" href="{% static 'mulltable/css/style.css' %}">
    </head>
    <body>
        <header class="comment">
            Для таблицы умножения хотелось использовать сетку. Подозревал, что grid как раз для такой задачи
            По этому решил в этом упражнении поковыряться в grid-е
            Хотя и с флексами бы никаких осложнений небыло бы.
            Хочется разобраться в преимуществах обоих способов, что бы можно было выбирать подходящее решение
        </header>
        <section class = "base">
            <div class="mulltab">
                {% for nums in mull_tab %}
                    <div class="mullcol">
                        {% for num in nums %}
                            <div class="mullrow">{{ num }}</div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
        </section>
    </body>
</html>