
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="{% static 'reguser/css/style.css' %}">
    </head>
    <body>
        <main>
            <form class="card" >
                <h1 class="head_1">Вход</h1>
                <div class="inputs">
                    <div class="fields">
                        <label for="">Логин:</label>
                        <input class="txt-input" type="text" name="foto" value="Nikolay">
                        <label for="">Пароль:</label>
                        <input class="txt-input" type="text" name="firstname" value="Mensh">
                    </div>
                </div>
                <button class="button" type = "submit">Войти</button>
            </form>
        </main>
    </body>
</html>